.barra{
   display: flex;
   flex-direction: row;
   background-color:#320101;
   padding: 10px;
 }
 .barra > li{
  flex-grow: 1;
  position: relative;
  list-style-type: none
 }
.barra__busqueda{
  background-color: #000000;
  color: #FFFFFF;
  padding: 7px 30px;
  text-decoration: none
}
 nav a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  color: white;
} 

 ul ul {
  position: absolute;
  background-color: black;
  width: 100%;
  display: none;
  list-style-type: none
}

.barra__busqueda:hover{
  background-color: #7E6E6E;
}
  ul li:hover ul {
  display: block;
  }